  @mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin workspace($bg,$color){
  display: flex;
  background: $bg;
  color:  $color;
  font-size: large;
  font-weight: 500;
  padding: 2rem 0;
  margin: 1rem;
  align-items: center;
}

@mixin icon-box($bg){
  color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin: 0 3rem 0 1rem;
  background-color: $bg;
  border-radius: .4rem;
  align-content: center;
  .icon {
    margin: auto;
    width: 1.5rem;
}
}

