
// FONT
$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizntal: 6rem;


$color-grey-dark: rgb(70, 70, 70);
$dark: #222;
$primary:#4F008C;
$gray: #F3F3F3;
$white: #fff;
$dark-gray: #bbbbbb
