<div class="layout">
    <div class="row">
        <div class="col-3">
            <div class="wrapper">
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h1>Dobox</h1>
                    </div>
                    <li class="workspace">
                        <i class="icon-box" >
                            <img class="icon" src="../../../../assets/images/chat.png" alt="">
                        </i>
                        GCEO Workspace
                    </li>

                    <li class="Platform">
                        <i class="icon-box" >
                            <img class="icon" src="../../../../assets/images/chat.png" alt="">
                        </i>
                        Platform
                    </li>
                    <ul class="navigations">

                        <li  *ngFor="let n of navigationList">
                            <i><p>{{n.icon}}</p></i>

                            <a routerLink= "{{n.id}}">{{n.name}}</a>

                            <!-- <a routerLink="/{{n.route}}">{{n.name}}</a> -->
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-9">
            <div class="content-section" >
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>


</div>