<mat-toolbar>
	<img src="../../../../assets/images/hub.svg" style="width: 60px;">

	<span class="spacer"></span>

	<button mat-button [matMenuTriggerFor]="menu">Menu</button>
	<mat-menu #menu="matMenu">
	<button  mat-menu-item>Translate</button>
	<button mat-menu-item>
		    <mat-icon class="icon" (click)="logout()">logout</mat-icon>
	</button>
	</mat-menu>
</mat-toolbar>


<mat-sidenav-container class="sidenav-containe" autosize>
	<mat-sidenav #sidenav class="sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item class="parent"  routerLink="/platform">
				<span class="full-width"><img class="icon" src="../../../../assets/images/home.png" alt=""></span>
			</mat-list-item>
			<mat-list-item class="parent"  routerLink="/platform">
				<span class="full-width"><img class="icon" src="../../../../assets/images/inbox.png" alt=""></span>
			</mat-list-item>
			<mat-list-item class="parent"  routerLink="/platform">
				<span class="full-width"><img class="icon" src="../../../../assets/images/chat.png" alt=""></span>
			</mat-list-item>
			<mat-list-item class="parent"  routerLink="/platform">
				<span class="full-width"><img class="icon" src="../../../../assets/images/dobox.png" alt=""></span>
			</mat-list-item>
			<mat-list-item class="parent"  routerLink="/platform">
				<span class="full-width"><img class="icon" src="../../../../assets/images/meetings.png" alt=""></span>
			</mat-list-item>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="sidenav-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>
